@import '../../../../index.css';

.header_wrapper{
  padding: 18px 0;
  border-bottom: 1px solid #eee;
}

.header_content_container{
 display: flex;
 justify-content: space-between;
 align-items: center;
}

.header_logo_container{

}

.header_content_container a {
  text-decoration: none ;

}


.header_logo{
 font-weight: 600;
 font-size: 1.5625rem;
 color: var(--primary-text-color);
}

.header_right_content{
 display: flex;
 align-items: center;
}

.network_button_container{
 display: flex;
 justify-content: center;
 align-items: center;
}

.network_list_select{

}

.connect_wallet_button{

}
.wallet_button{
  display: flex;
  align-items: center;
  text-transform: capitalize;
  background: transparent  !important;
  border: 2px solid var(--primary-text-color) !important;
  padding: 9px 20px;
  border-radius: 3px;
  font-size: 14px;
  color: var(--primary-text-color) !important;
  font-weight: 600;
  cursor: pointer;
}

.wallet_button svg {
  margin-right: 5px;
}

.user_icon_container{
  
}