


:root {
    --primary-bg: #9b1fe9;
    --gray-hover-bg-color: #f5f7fd;
    --gray-white-bg-color: #eef2fe;
    --white-bg-color: #fff;
    --primary-text-color: #9b1fe9;
    --gray-white-text-color: #6d7380;
    --white-text-color: #fff;
    --gray-black-text-color: #1a2b6b;
}


body {
  font-family: "Varela Round",sans-serif !important;
  
}

